# Configure your account and projects and 
# save in the current directory as `_secret.py` 

password = 'secret'
username = 'perrygeo'
projects = [
        ('ecotrust', 'marco-portal'),
        ('ecotrust', 'bioregion-discovery'),
]
TESTING = False
